<!DOCTYPE html>
<SCRIPT language="javascript" type="text/javascript">
function commit(){
	document.forms['otherForme'].submit();
}
</SCRIPT>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="utf-8">
        <link type="text/css" rel="stylesheet" href="./style.css">
        <title><%=title %> タイトル</title>
    </head>
    <form method="post" action="/other" name="otherForme" >
        <body>
            <table border="1">
                <tbody>
                    <tr>
                        <td>１ss１１</td>
                        <td>２<%=title %> </td>
                    </tr>
                    <tr>
                        <td><input type="text" name="apple"></td>
                        <td> <a href="/other">あaa</a> </td>
                    </tr>
                </tbody>
            </table>
            <input value="確定" type="submit">
        </body>
    </form>
</html>