<!DOCTYPE html>
<SCRIPT language="javascript" type="text/javascript">
function commit(){
	document.forms['indexForm'].submit();
}
</SCRIPT>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="utf-8">
        <link type="text/css" rel="stylesheet" href="./style.css">
        <title><%=title %> タイトル</title>
    </head>
    <form method="post" action="/other" name="indexForm" >
        <body>
            <table border="1">
                <tbody>
                    <tr>
                        <td>１ss１１</td>
                        <td>２<%=title %> </td>
                    </tr>
                    <tr >
                        <td><input type="text" name="apple"></td>
                        <td> <input value="FORM確定→POST" type="submit"></td>
                    </tr>
                </tbody>
            </table>
            <a href="/other">otherただの画面遷移リンク</a> 
            <a href="/board">boardただの画面遷移リンク</a> 
        </body>
    </form>
</html>